html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif
}
article {
  height: 100%;
  grid-template-columns:1fr;
  grid-template-areas:
      "header"
      "main"
      "footer";
  grid-template-rows: 100px 1fr 150px;
}
header {
  grid-area: header;
  background-color:#006643;
  color: #fff;
  grid-template-columns: 1% 98% 1%;
}
h1 {
  font-size: 3em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  color:#006643;
}
h3 {
  display: block;
  font-size: 1.5em;
  color:#006643;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color:#006643;
  color: #fff;
  grid-template-columns: 1% 98% 1%;
  grid-template-rows: 5% 90% 5%;
}
.grid {
  display: grid;
}
.title-container {
  grid-column-start: 2;
  align-self: center;
}
#home-content {
  grid-row-gap: 25px;
  grid-template-rows: 10px 100px auto;
}
#account-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 3;
}
.account-column {
  grid-template-rows: 2em repeat(2, 10em);
}
.content-title-container {
  justify-self: center;
  height: 1em;
  grid-row-start: 2;
}
#overdue-account-container-title > h3{
  color: #B22222;
}
#inactive-account-container-title > h3 {
  color:#808080;
}
.account-container {
  justify-self: center;
  height: 5em;
}
.account-container-title {
  justify-self: center;
}
.account-data-list {
  list-style: none;
}
.account-data-list > li {
  margin: 10px 0;
}
.account-data-list > li > label {
  font-weight: bold;
  margin: 0 5px 0 0;
}
.copy {
  place-self: end;
  grid-row-start: 2;
  grid-column-start: 2;
}